{% extends 'base.html' %}

{% block content %}

<style>
    body {
            background-color: #f7f9fb;
            border: transparent;
            padding-top: 70px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 50px;
        }

        .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Password, #Email {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 400px; /* Adjust this value as needed */
        margin: 50px auto;
        
    }

    input {
        border-radius: 5px;
        width: 100%;
        background-color: #f6f6f6;
        height: 30px;
        border: transparent;
        }


    .card {
        border: transparent;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .btn-primary, .btn-success {
        border: transparent;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }


</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="form-container">
    <div>
        <h1>Settings</h1>
    </div>

    
    <div id="Password">
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#ChangePassword" aria-expanded="false" aria-controls="ChangePassword">
                Change password
            </button>
        </p>
        <div class="collapse" id="ChangePassword">
            <div class="card card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ password_form.as_p }}
                    <button id="change_password" class="btn btn-success" type="submit" name="change_password">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    
    <div id="Email">
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" type="button"  data-bs-toggle="collapse" data-bs-target="#ChangeEmail"  aria-expanded="false" aria-controls="ChangeEmail">
                Change Email
            </button>
        </p>
        <div class="collapse" id="ChangeEmail">
            <div class="card card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ email_form.as_p }}
                    <button id="change_email" class="btn btn-success" type="submit" name="change_email">Change Email</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
